<!DOCTYPE html>
<html lang="en" class="position-relative">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaxService</title>
    <link rel="icon" type="image/png" href="~/img/Logo_SinFondo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />    
    <link rel="stylesheet" href="~/css/new.css" />
</head>
<body style="background: url('../img/temporal/fondoo.jpg') no-repeat center fixed; background-size: cover;">
    <!--
    <div style="height: 100%; position: fixed; width: 100%; z-index: -100;" class="embed-responsive embed-responsive-16by9">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3BZ2ZMEfNL0?controls=0&amp;start=7&amp;autoplay=1&loop=1&playlist=3BZ2ZMEfNL0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark border-bottom box-shadow mb-3" style="background-color:#212529;">
            <div class="container">
             <img src="~/img/Logo_SinFondo.png" alt="LOGO" width="50">
               <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><h2>Max<em>Service</em></h2></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                 <img src="~/img/logos/a.png" alt="LOGO" width="190">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                         <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Producto" asp-action="Catalogo">Catalogo</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Registro" asp-action="Registro">Registro</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Producto" asp-action="Lista">Lista de Productos Agregados</a>
                        </li>
                        
                    </ul>
                </div>

                <li class="nav-item" style="list-style: none;">
                    <p class="nav-link text-center font-weight-bold text-light" style="margin-bottom: 0%;">Hola, bienvenido Adminisrador</p> 
                </li>
                <li class="nav-item" style="list-style: none;">
                    <a class="nav-link text-center font-weight-bold text-danger" style="margin-bottom: 0%;" asp-controller="Home" asp-action="Index">Salir</a> 
                </li>

                
                
            </div>
        </nav>
    </header>
    <div class="container position-relative">
        <main role="main" class="pb-2">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted position-absolute w-100" id="footer">
        <div class="container">
            <!-- &copy; 2021 - MaxService - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> -->
        </div>
        <div class="col d-flex justify-content-around px-6">
           <!-- <a class="text-dark" asp-area="" asp-controller="Mantenimiento" asp-action="Index"> Mantenimiento </a>-->
        </div>
        <div class="footer-top">
            <div class="container" data-aos="fade-up"></div>
                <div class="row  justify-content-center">
                    <div class="col-lg-6">
                        <h3>llantas en Perú</h3>
                        <p>Dirección: Av.mariscal castilla 1006 mariano melgar </p>
                        <a class="text-dark navbar-brand" asp-area="" asp-controller="Mantenimiento" asp-action="Index"><img src="~/img/Logo_SinFondo.png" title="Mantenimiento" width="190"></a>
                        <p style="margin-top: 0%;">Todos los derechos reservados, Servimaq S.A.C. 2021</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
