
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Documento</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div style="width:100%;height:90%;">
    <Iframe src="https://localhost:5001/Documento/Documento" style="width:100%;height:500px;"></iframe>
    </div>
    <div class="form-group" style="display: flex;justify-content: center;">
        <button class="nav-link text-dark" style="margin-right: 40px;margin-left: 50px; background: turquoise;">Atras</button>
        <button class="nav-link text-dark"style="background: turquoise;" >Generar Ticket</button>
        <a class="btn btn-primary" asp-area="" asp-controller="Documento" asp-action="ticket">Siguiente</a>
    </div>
</body>
</html>


