<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MaxService</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="align-content-md-between">
        <h1 >Orden De Compra</h1>
        
    </div>
    <div><img class="border-2"src="~/img/logos/perfil.jpg"></div>
    <DIV>
        <p><br></p>
        <p></p>
        <p></p>
        <p>Nombre y Apellido&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: Renato Velazco Vera</p>
        <p>Proveedor&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: ServiMAQ A&C S.A.C.</p>
        <p>RUC&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: 204545986836</p>
        <p>Fecha de Orden&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:17/03/21</p>
        <p>Correo&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: renafvv19@hotmail.com</p>
        <p>Lugar de entrega&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: Arequipa</p>
        <p>Modo de Pago &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: Deposito</p>
        <p>Tiempo de Pago  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp: 1 Semana</p>
        <p>Documento De Identidad &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp:58996352</p>

        <p><br></p>
        <table class="table border">
            <tr>
                <th>Tipo de llanta</th>
                <th>Marca</th>
                <th>Cantidad</th>
                <th>Precio</th>
            </tr>
            <tr>

                <td>Llanta de jebe</td>
                <td>Dumblop</td>
                <td >10</td>
                <td>10.000 S/.</td>
            </tr>
            <tr>

                <td>Llanta de jebe</td>
                <td>Continent.</td>
                <td>4</td>
                <td>4.000 S/.</td>
            </tr>
            <tr>

                <td>Llanta de jebe</td>
                <td>Pierelli</td>
                <td>1</td>
                <td>1.000 S/.</td>
            </tr>

    </DIV>

</body>
