<head>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>

    <div>

        <div style=" display: flex;justify-content: center;">
            <h1 style=" display: flex;justify-content: center;">TICKET NRO 12345</h1>
        </div>
        <div style="display: flex;justify-content: center;">
            <p><br></p>
            <p></p>
            <p></p>
            <span style="text-align: center;">
                <p>Empresa:
                    <label>SADASD</label>
                </p>

                <p>Fecha de
                    Pedido:
                    15/08/2021</p>
                <p>De:
                    Juanito Almaña</p>
                <p>Para::17/03/21
                </p>
                <p>PARA: SERVIMAQ</p>
                <div style="display: flex;justify-content: center;">
                    <button style="margin-bottom: 25;" onclick="window.print()"> IMPRIMIR</button>
                </div>

                <div style="display: flex;justify-content: center;">
                    <button style="margin-right: 10;">Cancelar Orden</button>
                    <button>Finalizar y Enviar</button>
                </div>

            </span>
        </div>
    </div>
</body>
