@model dynamic

<head>
    <link rel="stylesheet" href="~/css/estilo.css" />
</head>

<div class="text-center container row-1 my-4">
    <h1 style="margin-bottom: 5%;">CATALOGO</h1>
</div>

<div class="CajaGeneral row text-center">
    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src='@ViewData["foto"]' >
        <div class="infoP">
            <a >GOODYEAR</a>
            <h4 class="precio">S/168.00</h4>
            <a class="btnDetalle btn btn-primary" asp-area="" asp-controller="Producto" asp-action="Detalle">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src="/img/temporal/ll1.png" >
        <div class="infoP">
            <a >BRINGSTONE</a>
            <h4 class="precio">S/125.00</h4>
            <a class="btnDetalle btn btn-primary" asp-area="" asp-controller="Producto" asp-action="Detalle">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src="/img/temporal/ll2.png" >
        <div class="infoP">
            <a>BRINGSTONE</a>
            <h4 class="precio">S/98.00</h4>
            <a class="btnDetalle btn btn-primary" asp-area="" asp-controller="Producto" asp-action="Detalle">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src='@ViewData["foto"]' >
        <div class="infoP">
            <a >GOODYEAR</a>
            <h4 class="precio">S/88.00</h4>
            <a class="btnDetalle btn btn-primary" asp-area="" asp-controller="Producto" asp-action="Detalle">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src="/img/temporal/ll3.png" >
        <div class="infoP">
            <a >BRINGSTONE</a>
            <h4 class="precio">S/105.00</h4>
            <a  class="btnDetalle btn btn-primary" href="/Detalle.cshtml">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src="/img/temporal/ll2.png" >
        <div class="infoP">
            <a>BRINGSTONE</a>
            <h4 class="precio">S/93.00</h4>
            <a  class="btnDetalle btn btn-primary" href="/Detalle.cshtml">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src='@ViewData["foto"]' >
        <div class="infoP">
            <a >GOODYEAR</a>
            <h4 class="precio">S/168.00</h4>
            <a  class="btnDetalle btn btn-primary" href="/Detalle.cshtml">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src="/img/temporal/ll1.png" >
        <div class="infoP">
            <a >BRINGSTONE</a>
            <h4 class="precio">S/125.00</h4>
            <a  class="btnDetalle btn btn-primary" href="/Detalle.cshtml">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src="/img/temporal/ll2.png" >
        <div class="infoP">
            <a>BRINGSTONE</a>
            <h4 class="precio">S/98.00</h4>
            <a  class="btnDetalle btn btn-primary" href="/Detalle.cshtml">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src='@ViewData["foto"]' >
        <div class="infoP">
            <a >GOODYEAR</a>
            <h4 class="precio">S/88.00</h4>
            <a  class="btnDetalle btn btn-primary" href="/Detalle.cshtml">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src="/img/temporal/ll3.png" >
        <div class="infoP">
            <a >BRINGSTONE</a>
            <h4 class="precio">S/105.00</h4>
            <a  class="btnDetalle btn btn-primary" href="/Detalle.cshtml">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>

    <div class="cajaP col-md-39 product-men mt-md-0 mt-5">
        <img class="imagenP" src="/img/temporal/ll2.png" >
        <div class="infoP">
            <a>BRINGSTONE</a>
            <h4 class="precio">S/93.00</h4>
            <a  class="btnDetalle btn btn-primary" href="/Detalle.cshtml">Detalle</a>
            <a  class="btnAgregar btn btn-primary" href="">Agregar</a>
        </div>
    </div>
</div>