
.cajaP {
  width: 30%;
  height: auto;
  border: 2px rgb(207, 197, 197) solid;
  margin: 1%;
}

.imagenP {
  margin-top: 0%;
  width: 50%;
  height: 35%;
}

.precio {
  margin-bottom: 10%;
}

.btnDetalle {
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 10%;
  margin-right: 3%;
  border-radius: 5%;
  width: 30%;
  text-align: center;
  padding-left: 7%;
}
.btnDetalle:hover {
  box-shadow: cornflowerblue 0px 0px 2px 2px;
  cursor: pointer;
}

.btnAgregar {
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 10%;
  margin-left: 3%;
  border-radius: 5%;
  width: 60%;
}
.btnAgregar:hover {
  box-shadow: lightgreen 0px 0px 2px 2px;
  cursor: pointer;
}

th {
  font-size: 80%;
}

select:hover {
  box-shadow: blue 0px 0px 2px 2px;
}

option {
  background-color: whitesmoke;
}

.botonEE {
  cursor: pointer;
  margin: 5%;
}

.botonEE:hover {
  box-shadow: blue 0px 0px 2px 2px;
}

.botonEE2 {
  cursor: pointer;
}

.botonEE2:hover {
  box-shadow: blue 0px 0px 2px 2px;
}

.lista {
  list-style: none;
  margin-bottom: 2%;
}

.caja1 {
  width: 45%;
}

.caja2 {
  width: 45%;
}

.btnQuitar {
  box-shadow: black 0px 0px 2px 2px;
  cursor: pointer;
}

.Barra{
  box-shadow: black 0px 0px 2px 2px;
  font-weight: bold;
  width: 70%;
  height: 100%;
}

.Barra li{
  margin: 0px;
  padding: 0px;
}

.Item{
  height: 100%;
  text-align: center;
  background-size: cover;
  justify-content: center;
}

.Barra li:hover{
  background-color: rgb(199, 202, 201);
  color: whitesmoke;
  cursor: pointer;
}

.Barra li a.nav-link {
  display: table-row;

}

.Barra li a.nav-link:hover {
  text-shadow: white 0px 0px 2px;
  
 }  

 label{
   font-weight: bold;
   font-size: 130%;
 }