@{
    Layout = null;
}

<head>
    <link rel="stylesheet" href="~/css/EstilosCliente.css" />
</head>

<div class="Contenedor">
    <h4>Estas seguro que quieres cancelar?</h4>
    <div class="d-flex">
        <a href="/Home/Index" class="btn btn-outline-danger">Si</a>
        <a href="/Registro/Ticket" class="btn btn-outline-success">No</a>
    </div>
</div>
