@model List<MaxService_1.Models.MarcaLlanta>

<div class="text-center container row-1 my-4">
    <h1 class="text-white" style="margin-bottom: 5%;">Lista de Marcas de Llantas</h1>
</div>

<table class="text-center table">
    <tr>
        <th>Id</th>
        <th>Nombre de la Marca</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MarcaLlantaId</td>
            <td>@item.NombreMarca</td>
            <td>
                <a href="/Administrador/ModificarMarcaLlanta/@item.MarcaLlantaId" class="btn btn-secondary"> <img src="/img/logos/logoEditar.png" width="25px"> </a>
                <form action="/Administrador/EliminarMarcaLlanta" method="post" class="d-inline-block">
                    <input type="hidden" name="id" value="@item.MarcaLlantaId" />
                    <button class="btn btn-secondary"><img src="/img/logos/logoBorrar.png" width="25px"></button>
                </form>
            </td>
        </tr>
    }
    @if (Model.Count == 0) {
        <tr>
            <td colspan="12" class="text-center">
                <h3 style="color: blue;" class="m-5"> Upps... Parece que no tenemos Marcas Afiliadas</h3>
            </td>
        </tr>
    }
</table>

<a href="/Administrador/RegistrarMarcaLlanta" class="btn btn-primary">Añadir Marca Nueva</a>