@model MaxService_1.Models.Producto.DetalleLlanta

<h1>Editar Detalles de la Llanta</h1>

<form action="" method="post">
    <input type="hidden" asp-for="DetalleLlantaId" />

    <div class="form-group">
        <label asp-for="IndiceCarga">Indice de Carga</label>
        <input asp-for="IndiceCarga" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="IndiceVelocidad">Indice Velocidad</label>
        <input asp-for="IndiceVelocidad" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="FotoLlanta">Foto de la llanta</label>
        <input asp-for="FotoLlanta" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="Construccion">Construccion</label>
        <input asp-for="Construccion" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="PresionMaxima">Presion Maxima</label>
        <input asp-for="PresionMaxima" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="LimiteCarga">Limite de Carga</label>
        <input asp-for="LimiteCarga" class="form-control">
    </div>

    <div class="form-group">
        <label asp-for="Clasificacion">Clasificacion</label>
        <input asp-for="Clasificacion" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="CodigoUTQG">Codigo UTQG</label>
        <input asp-for="CodigoUTQG" class="form-control" >
    </div>

    <div class="form-group">
        <label asp-for="FechaFabricacion">Fecha de Fabricacion</label>
        <input asp-for="FechaFabricacion" class="form-control" >
    </div>

    <div class="form-group">
        <div class="row">
            <label asp-for="MedidaLlanta">Medida de la llanta</label>
            <select asp-for="MedidaLlantaId" asp-items="ViewBag.Ancho" class="form-control"></select>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="MarcaLlanta">Marca de la llanta</label>
        <select asp-for="MarcaLlantaId" asp-items="ViewBag.MLL" class="form-control"></select>
    </div>

    <button class="btn btn-primary">Editar</button>
</form>