@model MaxService_1.Models.MarcaLlanta

<form class="text-white" action="" method="post">
    <div class="form-group">
        <label asp-for="NombreMarca">Marca</label>
        <input asp-for="NombreMarca" class="form-control" placeholder="ingresar nombre de la marca de llanta...">
    </div>

    <button class="btn btn-primary">Registrar</button>
</form>