@model MaxService_1.Models.Producto.Vehiculo

<form class="text-dark" action="" method="post">
    <div class="form-group">
        <label asp-for="TipoVehiculo">Tipo de Vehiculo</label>
        <select asp-for="TipoVehiculo" class="form-control" >
            <option value="Camion">Camion</option>
            <option value="Camioneta">Camioneta</option>
            <option value="Maquinaria Pesada">Maquinaria Pesada</option>
        </select>
    </div>

    <div class="form-group">
        <label asp-for="FotoVehiculo">Foto</label>
        <input asp-for="FotoVehiculo" class="form-control" placeholder="ingresar foto del vehiculo...">
    </div>

    <div class="form-group">
        <label asp-for="MarcaVehiculo">Marca de Vehiculo</label>
        <select asp-for="MarcaVehiculoId" asp-items="ViewBag.MV" class="form-control"></select>
    </div>

    <button class="btn btn-primary">Registrar</button>
</form>