@model List<MaxService_1.Models.Producto.Vehiculo>
<header>
        <nav class="navbar navbar-expand-sm  bg-white border-bottom mb-3">
            <div class="container">
                @* <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MaxService</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button> *@
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="MarcaVehiculo">Marcas de Vehiculos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="Vehiculo">Vehiculos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="MarcaLlanta">Marcas de Llantas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="MedidaLlanta">Medidas de Llantas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="DetalleLlanta">Detalle de las Llantas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Administrador" asp-action="Llanta">Llantas</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
<div class="text-center container row-1 my-4">
    <h1 class="text-white" style="margin-bottom: 5%;">Lista de Vehiculos</h1>
</div>

<table class="text-center table">
    <tr>
        <th>Id</th>
        <th>Tipo</th>
        <th>Foto</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.VehiculoId</td>
            <td>@item.TipoVehiculo</td>
            <td><img src="@item.FotoVehiculo" width="150px"> </td>
            <td>
                <a href="/Administrador/ModificarVehiculo/@item.VehiculoId" class="btn btn-secondary"> <img src="/img/logos/logoEditar.png" width="25px"> </a>
                <form action="/Administrador/EliminarVehiculo" method="post" class="d-inline-block">
                    <input type="hidden" name="id" value="@item.VehiculoId" />
                    <button class="btn btn-secondary"><img src="/img/logos/logoBorrar.png" width="25px"></button>
                </form>
            </td>
        </tr>
    }
    @if (Model.Count == 0) {
        <tr>
            <td colspan="12" class="text-center">
                <h3 style="color: blue;" class="m-5"> Upps... Parece que no tenemos Vehiculos</h3>
            </td>
        </tr>
    }
</table>

<a href="/Administrador/RegistrarVehiculo" class="btn btn-primary">Añadir Vehiculo Nuevo</a>